<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Spicejet suite">
<listeners>
<listener class-name="com.listeners.Listeners"></listener>
</listeners>	
  <test thread-count="5" name="Testng.xml">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.spicejet.HomePage"/>
    </classes>
  </test> <!-- Testng.xml -->
</suite> <!-- Suite -->
